/chave-primária-composta/chave-composta-idClass/nbproject/private/
/chave-primaria-composta/chave-composta-idClass/nbproject/private/
/chave-primaria-composta/chave-composta-idClass/build/
/muitos-para-muitos-com-atributos/muitos-para-muitos-com-atributos/nbproject/private/
/muitos-para-muitos-com-atributos/muitos-para-muitos-com-atributos/dist/
/muitos-para-muitos-com-atributos/muitos-para-muitos-com-atributos/build/
/chave-primaria-composta/chave-composta-idClass/dist/
/heranca/nbproject/private/
/heranca/build/
/heranca/dist/
/heranca-joined/nbproject/private/
/heranca-sigle-table/nbproject/private/
/heranca-joined/build/
/heranca-table-per-class/nbproject/private/
/heranca-table-per-class/dist/
/heranca-table-per-class/build/
